# Application Data
data/
tmp/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Python caching
**/__pycache__/

# Environments and IDE
venv/
.env
.vscode/
.devcontainer/

# Database exports
*.sql

*cookies.txt
*.log


# Google cloud env creds
service_account.json
credentials.json
token.json