# --- AI & OCR Engines ---
google-genai
ollama
easyocr
opencv-python
Pillow

# --- Database & ORM ---
sqlalchemy
alembic
psycopg2-binary
pgcli

# --- Utilities & Networking ---
python-dotenv
requests
gdown

# -- Dashboard
streamlit